{% extends 'base.html' %}
{% block title %}{{ 'Editar' if p else 'Nueva' }} Parroquia{% endblock %}

{% block content %}
<div class="card shadow-sm">
  <div class="card-header">
    {{ 'Editar' if p else 'Nueva' }} Parroquia
  </div>

  <div class="card-body">
    <form method="post" class="row g-3">

      <div class="col-md-6">
        <label>Nombre</label>
        <input class="form-control" name="nombreParro" value="{{ p.nombreParro if p }}" required>
      </div>

      <div class="col-md-6">
        <label>Dirección</label>
        <input class="form-control" name="direccionParro" value="{{ p.direccionParro if p }}">
      </div>

      <div class="col-md-6">
        <label>Teléfono</label>
        <input class="form-control" name="telefonoParro" value="{{ p.telefonoParro if p }}">
      </div>

      <div class="col-md-6">
        <label>Email</label>
        <input class="form-control" name="emailParro" value="{{ p.emailParro if p }}">
      </div>

      <div class="col-12 text-end">
        <button class="btn btn-primary">
          <i class="bi bi-save"></i> Guardar
        </button>
        <a class="btn btn-secondary" href="{{ url_for('lista_parroquias') }}">Cancelar</a>
      </div>

    </form>
  </div>
</div>
{% endblock %}
